.add-button{
    position:absolute;
    right: 6vw;
    bottom: 5vh;
    background-color: #eee;
    border-radius: 50%;
    padding: .5rem;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .25);
}

.add-button:hover{
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .25) inset;
}

.add-button .icon{
    font-size: 4rem;
    user-select: none;
}

.add-button:hover .icon{
    transform: scale(.9)
}
