:root{
    font-size: 16px;
    font-family: Ubuntu;
}

*{
    font-family: Ubuntu;
    font-weight: 300;
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
    user-select: none;
}

body{
    width: 100vw;
    height: 100vh;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

.title{
    font-weight: 400;
}

.icon{
    display: block;
}

a:hover{
    color: inherit;
}

a:visited{
    color: inherit;
}

