:root{
    font-size: 16px;
    font-family: Ubuntu;
}

*{
    font-family: Ubuntu;
    font-weight: 300;
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
    user-select: none;
}

body{
    width: 100vw;
    height: 100vh;
}

.templates{
    display: none;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

.title{
    font-weight: 400;
}

.icon{
    display: block;
}

a:hover{
    color: inherit;
}

a:visited{
    color: inherit;
}

.popup-dimmer{
    position:absolute;
    top:0;
    left:0;
    height:0vh;
    width:100vw;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 500ms;
}

button{
    display: block;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .25);
}

button .button-content{
    display: block;
}

button:hover{
    box-shadow: none;
}

button:hover .button-content{
    transform: scale(.95);
}

button:active{
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .25) inset;
}

button:active .button-content{ 
    transform: scale(.9);
}

